           /*Core Styles*/

        html {
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
            background-color:#FEFEFE;


           }  

        img{
            width: 100%;
            height: 100%;
        }

        
        h1{
            font-size:5.45144804088586vh;
            line-height: 10.770017035775128vh;
            color: #333333;
        }

        h2{
            font-size:4.088586030664395vh;
            line-height: 4.770017035775128vh;

            color: #093F8E;
        }

        h3 {
            font-size:3.189097103918228vh;
            line-height: 6.40017035775128vh;

            color: #093F8E;
        }     
 
        p {
            font-size:  2.385008517887564vh;
            line-height:  6.814310051107325vh;
            color: #333333;
            opacity: 90%;
        }

        .ii{
            font-style: italic;
            font-size:3.189097103918228vh;

        }
       
        /*Grid*/    

        .grid-container {
                display: grid;
 
                /*Important*/
                
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2.5em;
                grid-row-gap: 2.5em;
 
                /*Important
                padding-top: 105px;
                
                */


            }

            

            .links2 {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
            }

            .links2 li {
                list-style: none;
            }

            .links2 a {
                display: block;
                padding: 1em;
                font-size: 16px;
                color: #333333;
                text-decoration: none;
                opacity: 0.8;
            }

            .links2 a:hover{
                color: #093F8E;
                font-weight: 500;

            }

            /*Desktop Version*/
            @media screen and (min-width: 1024px) {

                .main{

                    margin-left: 35.77512776831346vh;
                    padding: 8.17717206132879vh;
                }
             
             
                /*Parallax*/     
                .parallax {
                /* The image used */
                background-image: url("image/Illustrations/profile\ pic.jpg");
    
                  
                /* Create the parallax scrolling effect */
                width:auto  ;
                background-position-y: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                }

              
                .cp{
                    width: auto;
                    height: 105vh;
                    

                }

                .caption {       
                position: relative;
                text-align: left;
                color: white;
               }
                .caption p {
                    color:white;
                }      
            }   
            
            /*QHD Version*/
            @media screen and (min-width: 2000px) {

            .main{
            width: 2000px;
            position: relative;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            }
        
        .parallax{
        background-position-x: 0px;
        background-position-y: 100px;
        }


        .cp{
        margin-top: -50px;
        width:1920px;
        }
        
        .caption{
        margin-left:0px;
        margin-top: -50px;
        padding:0em;
        }

        .grid-container{
            grid-template-columns: 1fr;
        }


    }


        @media screen and (min-width: 3000px) {
        .cp{
        margin-top: 50px;
        
        }

        .parallax{
            background-position-y: 5vh ;
        }

        .main{
            width: 3000px;
            position: relative;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
        }

        .grid-container{
            grid-template-columns: 1fr;
        }


}
    


            @media screen and (max-width: 1023px) {

                .main{
                    margin-left: 0;
                    padding: 3em;
                    margin-top:10vh;

                }

                .parallax{
                    background-image: url("image/Illustrations/profile\ pic.jpg");
                  
                    /* Set a specific height */
                    background-attachment:none;
                    background-position-y: 50px;
                    background-position-x: 50% ;
                    background-repeat:no-repeat;
                    background-size: cover;
                    position: relative;
            }       

            .cp{
                width: auto;
                height: auto;
                height: 400px;
                margin-left:auto;
                margin-right:auto;
                
                }
                      
                
                .grid-container {
                    grid-template-columns: 1fr;
                }

               

            
            }

          
        

        
