           /*Core Styles*/

        html {
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
            background-color:#FEFEFE;
           }  

        img{
            width: 100%;
            height: 100%;
        }

       
        h1{
            font-size:5.45144804088586vh;
            line-height: 4.770017035775128vh;
        }

        h2{
            font-size:4.088586030664395vh;
            color: #093F8E;
        }

        h3 {
            font-size:3.189097103918228vh;
            color: #093F8E;
        }     
 
        p {
            font-size:  2.385008517887564vh;
            line-height:  6.814310051107325vh;
            color: #333333;
            opacity: 90%;
        }

        .ii{
            font-style: italic;
            font-size:3.189097103918228vh;

        }

      

        /*Title*/    
       .top-title{
        margin-top: 50px;
    }


    button .display-left{

        display: absolute;
        margin-left:400px;

        


    }
    .mySlides {
        display:none;
    }



  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2.72572402044293vh;
    margin-top: -3.7478705281090288vh;
    columns: #333333;
    font-weight:600;
    font-size: 12vh;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0.5;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background: white;
    opacity: 1;  
  }
  
  

    .dot {
        cursor: pointer;
        height:3.4071550255536627vh;
        width: 3.4071550255536627vh;
        margin: 0 0.34071550255536626vh;
        background-color: #89B6A5;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 3.4071550255536627vh;
      }    

      .active, .dot:hover {
        background-color: #F79256;
      }

    .infographics img{
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      
    }

        /*Grid*/    
        .grid-container {
                display: grid;
 
                /*Important*/
                
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 0.5em;
                grid-row-gap: 0.5em;
 
            }

            .spacing{
                margin-bottom: 25.55366269165247vh;
            }
    


       

            .links2 {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
            }

            .links2 li {
                list-style: none;
            }

            .links2 a {
                display: block;
                padding: 1em;
                font-size: 16px;
                color: #333333;
                text-decoration: none;
                opacity: 0.8;
            }

            .links2 a:hover{
                color: #093F8E;
                font-weight: 500;

            }

            /* Slideshow container */
            .slideshow-container {
                width: 100%;
                 position: relative;
            }



            /*Desktop Version*/
            @media screen and (min-width: 1024px) {

                .main{

                    margin-left: 35.77512776831346vh;
                    padding: 8.17717206132879vh;
                }
             
                /*Parallax*/     
                .parallax {
                /* The image used */
                background-image: url("image/Mockups/Trusted Clothes/Trusted-Clothes-Main-Header.png");               
                  
                /* Create the parallax scrolling effect */
                width:auto  ;                
                background-attachment: fixed;
                background-position-y: center;
                background-position-x: 150px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                }
              
                .cp{
                    width: auto;
                    height: 105vh;
                    margin-left:auto;
                    margin-right:auto;
                    margin-top:-25px;
                }

                .caption {       
                position: relative;
                margin-left:250px;
                text-align: left;
                color: white;
               }

                .caption p {
                    color:white;
                }      

                    
            }   

            @media screen and (min-width: 2000px) {

                .main{
                    width: 2000px;
                    position: relative;
                    align-items: center;
                    margin-left: auto;
                    margin-right: auto;
                    
                }

                .parallax{
                    background-position-x: 0px;
                    background-position-y: 100px;
                }


                .cp{
                    margin-top: -50px;
                    width:1920px;
                }

                .caption{
                    margin-left:0px;
                    margin-top: 150px;
                    padding:0em;
                }

            }


            /*4K Version*/
            @media screen and (min-width: 3000px) {
                .cp{
                margin-top: 50px;
                
                }

                .parallax{
                    background-position-y: 200px;
                }

                .main{
                    width: 3000px;
                    position: relative;
                    align-items: center;
                    margin-left: auto;
                    margin-right: auto;

                }
        }

    


            @media screen and (max-width: 1023px) {

                
                .main{
                    margin-left: 0;
                    padding: 3em;
                }

            

                 .parallax{
                    background-image: url("image/Mockups/Trusted Clothes/Trusted-Clothes-Main-Header.png");
                  
                    /* Set a specific height */
                    width:auto  ;                
                    background-attachment:none;
                    background-position-y:50px;
                    background-position-x: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
            }       

            .cp{
                height: 400px;
                margin-left:auto;
                margin-right:auto;
                
                }
    
                .grid-container {
                    grid-template-columns: 1fr;
                }

                .grid-container2{
                    grid-template-columns: 1fr;

                    
                }

            }
        